---
layout: archive
title: "Publications"
permalink: /articles/
author_profile: true
redirect_from: 
 - /wordpress/academic-papers/
---
You can also find my articles on <u><a href="http://scholar.google.com/citations?user=0AvWi3wAAAAJ&hl=en">my Google Scholar profile</a>.</u>

<br>
<b>[Infomax Neural Joint Source-Channel Coding via Adversarial Bit Flip](http://lantaoyu.com/publications/IABF)</b> <br> 
Yuxuan Song, Minkai Xu, <b>Lantao Yu</b>, Hao Zhou, Shuo Shao, Yong Yu.
<i>The 34th AAAI Conference on Artificial Intelligence</i>. <b>AAAI 2020</b>.

<b>[Improving Unsupervised Domain Adaptation with Variational Information Bottleneck](http://lantaoyu.com/publications/VBDA)</b> <br> 
Yuxuan Song, <b>Lantao Yu</b>, Zhangjie Cao, Zhiming Zhou, Jian Shen, Shuo Shao, Weinan Zhang, Yong Yu.
<i>Arxiv 2019</i>.

{% include base_path %}

{% for post in site.articles reversed %}
  {% include archive-single.html %}
{% endfor %}
